@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>calculater</title>
    <link rel="stylesheet" href="/css/cal.css" />
  </head>
  <body>
    <div id="calcu-body">
      <input id="display" type="text" value="" disabled />

      <input
        class="btn-top"
        type="button"
        value="Sin"
        onclick="display('sin')"
      />
      <input
        class="btn-top"
        type="button"
        value="Cos"
        onclick="display('cos')"
      />
      <input
        class="btn-top"
        type="button"
        value="Tan"
        onclick="display('tan')"
      />
      <input class="btn-top" type="button" value="^" onclick="display('^')" />
      <input
        id="delete"
        class="btn-top"
        type="button"
        value="C"
        onclick="clearScreen()"
      />

      <input class="btn" type="button" value="7" onclick="display(7)" />
      <input class="btn" type="button" value="8" onclick="display(8)" />
      <input class="btn" type="button" value="9" onclick="display(9)" />
      <input class="btn" type="button" value="*" onclick="display('*')" />
      <input class="btn" type="button" value="4" onclick="display(4)" />
      <input class="btn" type="button" value="5" onclick="display(5)" />
      <input class="btn" type="button" value="6" onclick="display(6)" />
      <input class="btn" type="button" value="-" onclick="display('-')" />
      <input class="btn" type="button" value="1" onclick="display(1)" />
      <input class="btn" type="button" value="2" onclick="display(2)" />
      <input class="btn" type="button" value="3" onclick="display(3)" />
      <input class="btn" type="button" value="+" onclick="display('+')" />

      <input
        id="dot"
        class="btn"
        type="button"
        value="."
        onclick="display('.')"
      />
      <input
        id="zero"
        class="btn"
        type="button"
        value="0"
        onclick="display(0)"
      />
      <input
        id="equal"
        class="btn"
        type="button"
        value="="
        onclick="calculate()"
      />
      <input
        id="divide"
        class="btn"
        type="button"
        value="/"
        onclick="display('/')"
      />
    </div>

    <script src="/js/cal.js"></script>
  </body>
</html>
